<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageAndVideoAndRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8829A4F71E1CEA2B0023362D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8829A5101E1CEA2B0023362D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8829A51B1E1CEA2B0023362D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
